<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" media="screen and (min-width:960px)" href="css/index.css">
    <link rel="stylesheet" media="screen and (min-width:640px) and (max-width:959px)" href="css/index_960.css">
    <link rel="stylesheet" media="screen and (max-width:639px)" href="css/index_720.css">
    <title>网站首页</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
</head>
<body>
    <div class="bg">
        <div class="header">
            <div class="header_bg1"></div>
            <div class="header_bg2">
                <div class="center">
                    <ul class="header_menu_ul">
                        <li><a href="">首页</a></li>
                        <!--<li><a href="">UI设计</a></li>
                        <li><a href="">web前端</a></li>
                        <li><a href="">PHP</a></li>
                        <li><a href="">个人兴趣</a></li>-->
                    </ul>
                </div>
            </div>
            <div class="header_bg3">
                <div class="center">
                    <img src="images/photo1.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="content">
            <div class="cont1">
                <div class="center">
                    <ul class="cont1_ul">
                        <li style="background: url(images/photo1.jpg) no-repeat;">
                            <a href="">
                                <h2>首页</h2>
                                <p>进人不一样的世界</p>
                            </a>
                        </li>
                        <li style="background: url(images/photo2.jpg) no-repeat;">
                            <a href="">
                                <h2>UI</h2>
                                <p>进人不一样的世界</p>
                            </a>
                        </li>
                        <li style="background: url(images/photo3.jpg) no-repeat;">
                            <a href="">
                                <h2>WEB前端</h2>
                                <p>进人不一样的世界</p>
                            </a>
                        </li>
                        <li style="background: url(images/photo4.jpg) no-repeat;">
                            <a href="">
                                <h2>PHP</h2>
                                <p>进人不一样的世界</p>
                            </a>
                        </li>
                        <li style="background: url(images/photo1.jpg) no-repeat;">
                            <a href="">
                                <h2>个人兴趣</h2>
                                <p>进人不一样的世界</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="cont_bor"></div>
            <div class="cont2">
                <div class="center">
                    <ul class="cont2_ul">
                        <li><a href="#"><img src="images/photo2.jpg"  alt=""></a></li>
                        <li><a href="#"><img src="images/photo3.jpg"  alt=""></a></li>
                        <li><a href="#"><img src="images/photo4.jpg"  alt=""></a></li>
                    </ul>
                </div>
            </div>
            <div class="cont_bor"></div>
            <div class="cont3">
                <div class="center">
                    <ul class="cont3_ul ma">
                        <li><a href="#">
                            <div class="cont3_box fl"></div>
                            <div class="cont3_img fr"><img src="images/photo1.jpg" alt=""></div>
                        </a></li>
                        <li><a href="#">
                            <div class="cont3_box fr"></div>
                            <div class="cont3_img fl"><img src="images/photo1.jpg" alt=""></div>
                        </a></li>
                        <li><a href="#">
                            <div class="cont3_box fr"></div>
                            <div class="cont3_img fl"><img src="images/photo1.jpg" alt=""></div>
                        </a></li>
                        <li><a href="#">
                            <div class="cont3_box fl"></div>
                            <div class="cont3_img fr"><img src="images/photo1.jpg" alt=""></div>
                        </a></li>
                        <li><a href="#">
                            <div class="cont3_box fl"></div>
                            <div class="cont3_img fr"><img src="images/photo1.jpg" alt=""></div>
                        </a></li>
                        <li><a href="#">
                            <div class="cont3_box fr"></div>
                            <div class="cont3_img fl"><img src="images/photo1.jpg" alt=""></div>
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer cb">
            <div class="footer_top"></div>
            <div class="footer_title">Copyright © 2016  | 网站地图 | 浙ICP备xxxxxxxx号</div>
        </div>
    </div>
</body>
</html>